.gallery{
    height: 600px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px 60px;
}

.gallery img{
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    position: sticky;
    top: 0;
}