.menubar{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 0%;
}
.menubar ul{
    list-style: none;
    display: flex;
}
.menubar ul li{
    padding: 3px 25px;
}
.menubar ul li a{
    color: black;
    text-decoration: none;
    font-size: 30px;
}
.menubar ul li a:hover{
    color: white;
    background-color: black;
} 
.dropdown{
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}   
.menubar ul li:hover .dropdown{
    display: block;
    position: absolute;
    background-color:aqua;
    size: 10px;
}
.dropdown ul{
   display: block; 
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.images{
    display: flex;   
}
h1{
    text-align: center;
    text-decoration: none;
    border: 10px solid red;
    padding: 10px 5px 10px 5px;
    background-color: blue;
    color: white;
}
h2{
    text-decoration: none;
    padding: 10px 70px;
    margin: 10px 0 10px;
    color: white;
    background-color: black;   
}
.books{
    border: 3px solid black;
    border-radius: 10px;
    padding: 1px 1px 1px 1px;
    margin: 5px 100px 5px 100px; 
    background-color: aqua;  
    font-family: serif; 
    font-size:200%;
}
.books  img{
    padding:50px;
}
.program{
    border: 3px solid black;
    border-radius: 10px;
    padding: 1px 1px 1px 1px;
    margin: 5px 100px 5px 100px; 
    background-color: rgb(230, 0, 255);  
    font-family: serif; 
}
.program h4{
    padding: 0 25%;
    font-size: 200%;
}
.program img{
    padding: 50px;
}
.program h3{
    font-size: 150%;
}
.cheat{
    border: 3px solid black;
    border-radius: 10px;
    padding: 1px 1px 1px 1px;
    margin: 5px 100px 5px 100px; 
    background-color: rgb(34, 255, 0);  
    font-family: serif; 
}
.cheat h4{
    padding: 0 40%;
    font-size: 200%;
}
.cheat img{
    padding: 50px;
}
.cheat h3{
    font-size: 150%;
}

